.portfolio {
    &-item {
        display: block;
        height: 200px;
        width: 250px;
        margin: 20px auto;
        border: color(dark_grey) 1px solid;

        &-title {
            position: relative;
            top: 70%;
            background-color: color(accent);
            padding: 10px 10px;
            width: 100%;
            text-align: center;
            font-weight: 300;
            font-size: 22px;

            &-link {
                color: color(white);
                text-decoration: none;
                transition: ease-in-out 200ms;

                &:hover {
                    color: color(white);
                    text-decoration: none;
                    letter-spacing: 1px;
                    transition: ease-in-out 200ms;
                }
            }
        }

        $thumbs: (hangman, rpg, trivia, infowidget, roshambo);
        @each $thumb in $thumbs {
            &.#{$thumb} {
                background: url(../img/portfolio-thumbnails/#{$thumb}.jpg) no-repeat;
                background-size: cover;
            }
        }
    }
}
